/* cta section */
.cta.section {
  padding: 0;
}

/* cta section button */
.cta.section .cta.button {
  padding: 1.83333rem 0.83333rem;
  border: 0;
  font-weight: bold;
  text-decoration: none;
}

/* cta section button supporting */
.cta.section .cta.button .supporting {
  display: block;
  margin-top: 0.83333rem;
  font-weight: normal;
  text-decoration: underline;
}

/* cta section button hover state supporting */
.cta.section .cta.button:hover .supporting {
  color: #ffff00;
}
