/* hero container */
.hero.section {
	display: flex;
	position: relative;
	width: 100%;
	height: 100vh;
	margin: 0 auto;
	padding: 0.83333rem;
	align-items: center;
	justify-content: center;
	text-align: left;
}

/* hero title */
.hero.section .title {
	margin: 0 auto;
}

/* hero title sub */
.hero.section .title .sub {
	display: block;
}

/* hero title sub */
.hero.section .title .sub {
	margin-top: 3.83333rem;
	color: #111;
	font-size: 65%;
}

/* index hero title sub */
.index.hero.section .title .sub {
	text-indent: 2rem;
}

/* hero title sub punchliune */
.hero.section .title .sub.punchline {
	margin-top: 0;
}
