/* tools tool item */
.tools.section .tools.list .tool.item {
	flex: none;
	width: 100%;
}

/* tools tool link */
.tools.section .tools.list .tool.item .tool.link {
	text-decoration: none;
}

/* tools tool link */
.tools.section .tools.list .tool.item .tool.link .title {
	text-decoration: underline;
}
