/* tool item */
.tools.section .tools.list .tool.item {
	flex: none;
	width: 100%;
}

/* featured post link */
.tools.section .tools.list .tool.item .tool.link {
	text-decoration: none;
}

/* tool link title hover state */
.tools.section .tools.list .tool.item .tool.link:hover .title {
	text-decoration: underline;
}
