/* blog post item */
.blog.section .posts.list .post.item {
	flex: none;
	width: 100%;
}

/* blog link */
.blog.section .link {
	font-style: italic;
	text-decoration: underline;
}

/* blog post link */
.blog.section .posts.list .post.item .post.link {
	font-style: normal;
	text-decoration: none;
}

/* blog post title */
.blog.section .posts.list .post.item .post.link .title {
	margin-top: 0;
	text-decoration: underline;
}
