/* blog post item */
.blog.section .posts.list .post.item {
	flex: none;
	width: 100%;
}

/* blog post link */
.blog.section .posts.list .post.item .post.link {
	text-decoration: none;
}

/* blog post title */
.blog.section .posts.list .post.item .post.link .title {
	text-decoration: underline;
}
